<div id="mainViewContainer">
    <div id="mainContent">
        <h1 class="pageHeadingBig">You Might Also Like</h1>
        <div class="gridViewContainer">
            {% for album in albums %}
            <div class="gridViewItem">
                <a href="">
                    <img src="{{ album.artworkPath }}" alt="">
                    <div class="gridViewInfo">
                        {{ album.title }}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>